



<!-- Begin page content -->
<div class="container-fluid content">
    <div>
        <a href="https://www.linkedin.com/in/rohit-tirmanwar" target="_blank" class="google"><i class="fa fa-linkedin fa-2x"></i></a> &nbsp;
        <a href="https://twitter.com/rohit_tir" target="_blank" class="twitter"><i class="fa fa-twitter fa-2x"></i></a> &nbsp;
        <a href="https://www.facebook.com/rohit.tir" target="_blank" class="facebook"><i class="fa fa-facebook-official fa-2x"></i></a> &nbsp;
        <a href="https://github.com/rohittir" target="_blank" class="github"><i class="fa fa-github fa-2x"></i></a>
    </div>
    <div class="mt-3">
        © 2018 Copyrights <b>Rohit Tirmanwar</b>
    </div>
</div>




