



<!-- Begin page content -->
<div *ngIf="socialDataLinks" class="container-fluid content">
    <div>
        <a href="{{socialDataLinks.linkedin}}" target="_blank" class="google"><i class="fa fa-linkedin fa-2x"></i></a> &nbsp;
        <a href="{{socialDataLinks.github}}" target="_blank" class="github"><i class="fa fa-github fa-2x"></i></a> &nbsp;
        <a href="{{socialDataLinks.twitter}}" target="_blank" class="twitter"><i class="fa fa-twitter fa-2x"></i></a> &nbsp;
        <a href="{{socialDataLinks.facebook}}" target="_blank" class="facebook"><i class="fa fa-facebook-official fa-2x"></i></a>
    </div>
    <div class="mt-3">
        © 2018 Copyrights <b>Rohit Tirmanwar</b>
    </div>
    <div class="mt-3">
        Built using
        <a href="https://angular.io/" target="_blank">
            <img style="width: 20px" src="favicon.ico">
        </a>
        <a href="https://getbootstrap.com/" target="_blank">
            <img style="width: 20px" src="images/bootstrap-solid.svg">
        </a>
        <a href="https://fontawesome.com" target="_blank">
            <i style="width: 20px" class="fa fa-font-awesome"></i>
        </a>
    </div>
    <div class="mt-3">
        All images and logos used are © Copyrights reserved with respective companies
    </div>
</div>




