




<ng-container *ngIf="scoreCard">

    <div *ngFor="let inngs of scoreCard.scrs[0].Inngs" style="overflow-x: auto">

        <h6 *ngFor="let bat of inngs.btTm">{{bat.$.sName}} ({{inngs.$.desc}})</h6>
        <h6>{{inngs.$.r}}/{{inngs.$.wkts}} ({{inngs.$.ovrs}}) <span *ngIf="inngs.$?.Target">Target: {{inngs.$?.Target}}</span></h6>

        <table class="table table-sm table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Batsman</th>
                    <th scope="col"></th>
                    <th scope="col">Runs</th>
                    <th scope="col">4</th>
                    <th scope="col">6</th>
                    <th scope="col">Balls</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let batsman of inngs.btTm[0]?.plyr">
                    <th scope="row">{{batsman.$.sName}}</th>
                    <th>{{batsman.status[0]}}</th>
                    <td>{{batsman.$.r}}</td>
                    <td>{{batsman.$.frs}}</td>
                    <td>{{batsman.$.six}}</td>
                    <td>{{batsman.$.b}}</td>
                </tr>
            </tbody>
        </table>

        <!-- <h6 *ngFor="let bowl of inngs.blTm">{{bowl.$.sName}}</h6> -->
        <table class="table table-sm table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Bowler</th>
                    <th scope="col">O</th>
                    <th scope="col">M</th>
                    <th scope="col">R</th>
                    <th scope="col">W</th>
                    <th scope="col">Eco</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let bowler of inngs.blTm[0]?.plyr">
                    <th scope="row">{{bowler.$.sName}}</th>
                    <th>{{bowler.$.ovrs}}</th>
                    <td>{{bowler.$.mdns}}</td>
                    <td>{{bowler.$.rOff}}</td>
                    <td>{{bowler.$.wkts}}</td>
                    <td>{{bowler.$.er}}</td>
                </tr>
            </tbody>
        </table>

        <h6>Fall of Wickets: <span *ngFor="let fow of inngs.FOW[0]?.wkt; let i = index">
            {{i+1}}/{{fow.$.r}} ({{fow.$.ovrs}}) {{fow.$.btsmn}};
        </span></h6>

        <hr>

    </div>

</ng-container>



