


<div class="card" style="width:100%">
    <div class="card-header">
        Profile with photo
    </div>
    <div class="card-body">
        <h5 class="card-title">About myself!</h5>
        <p class="card-text">Into</p>
    </div>
</div>
<br>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Education 1
            </div>
            <div class="card-body">
                <h5 class="card-title">Details</h5>
                <p class="card-text">Courses</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Education 2
            </div>
            <div class="card-body">
                <h5 class="card-title">Details</h5>
                <p class="card-text">Courses</p>
            </div>
        </div>
    </div>
</div>
<br>
<div class="card">
    <div class="card-header">
        Skills
    </div>
    <div class="card-body">
        <h5 class="card-title">List Here!</h5>
        <p class="card-text">more about skills</p>
    </div>
</div>
<br>
<div class="card">
    <div class="card-header">
        Experience
    </div>
    <div class="card-body">
        <h5 class="card-title">List Here!</h5>
        <p class="card-text">more about experience</p>
    </div>
</div>