
<!--
    TEMPLATE
    @author: Rohit Tirmanwar
 -->



<nav class="navbar navbar-expand-lg navbar-light bg-light">
<a class="navbar-brand" routerLink="/">{{getHeaading()}}</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
aria-controls="navbarSupportedContent" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="{{isActive('/home')? 'nav-item active':'nav-item' }}">
            <a class="nav-link" routerLink="/">Home
            <!-- <span class="sr-only">(current)</span> -->
            </a>
        </li>
        <li class="{{isActive('/profile')? 'nav-item active':'nav-item' }}">
            <a class="nav-link" routerLink="/profile">Profile</a>
        </li>
        <li class="{{isActive('/timeline')? 'nav-item active':'nav-item' }}">
            <a class="nav-link" routerLink="/timeline">Timeline</a>
        </li>
        <li class="{{isActive('/cricket')? 'nav-item active':'nav-item' }}">
            <a class="nav-link" routerLink="/cricket">Cricket</a>
        </li>
    </ul>
    <!-- <div class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="searchText">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="onSearch()">Search</button>
    </div> -->
</div>
</nav>