




 <!-- Main Tabs -->
 <ul class="nav nav-tabs card-header-tabs">
    <li class="nav-item">
      <a class="nav-link {{(selectedMainTab === 'Live Score')? 'active':''}}" style="cursor:pointer" (click)="selectedMainTab='Live Score'">Live Score</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{(selectedMainTab === 'Cricket News')? 'active':''}}" style="cursor:pointer" (click)="selectedMainTab='Cricket News'">Cricket News</a>
    </li>
  </ul>
  <br>

<ng-container *ngIf="selectedMainTab === 'Cricket News'">
  <app-cricket-news></app-cricket-news>
</ng-container>


<ng-container *ngIf="selectedMainTab === 'Live Score'">
  <app-cricket-live></app-cricket-live>
</ng-container>



